/* start global */
:root {
    --headline1-size: 22pt;
    --headline2-size: 18pt;
    --headline3-size: 14pt;
    --parag-size: 12pt;
    --primary-color: #0B2A53;
    --secondary-color: #757575;
    --body-color: #AAA;
    --bg-color: #ececec;
    --action-color: #40c409;
    --rating-color: #ffc107;
}

@font-face {
    font-family: 'seg regular';
    src: url(../fonts/segoeui.ttf);
}

@font-face {
    font-family: 'seg bold';
    src: url(../fonts/segoeuib.ttf);
}

@font-face {
    font-family: 'seg sbold';
    src: url(../fonts/seguisb.ttf);
}

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'seg regular';
    color: white;
}

.container {
    max-width: 1400px;
    margin: auto;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none !important;
    color: inherit;
}
/* end global */

/* start header */
header {
    background-image: url('../imgs/Webp.net-resizeimage.jpg');
    background-size: cover;
}

.flex-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 8%;
    margin-top: -20px;
}

.flex-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end header */

/* start navbar */

.navbar:first-child{
    margin-right: 85px;
}

.links, .icons{
    display: flex;
}

.navbar li {
    display: inline-block;
    text-transform: capitalize;
    font-size: var(--headline3-size);
    text-align: center;
    padding: 0 30px;
    position: relative;
}

.navbar .links a{
    transition: color 0.3s ease 0s;
}

.navbar .icons li{
    padding: 0 10px;
}

.navbar .icons a {
    font-size: var(--headline2-size);
    padding: 5px 7px;
    transition: color 0.2s ease 0s;
}

.navbar .links a:hover {
    color:  #d3a261
}

.navbar .icons a:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-radius: 25%;
}

#menu li{
    width: auto;
    float: none;
    display: list-item;
    position: relative;
    text-align: center !important;
    overflow: hidden;
}
#menu li a{
    display: block;
    padding: 5px 15px;
    line-height: 35px;
    text-align: center !important;
    transition: none;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #3C4858;
}

.tooltip-title{
    position: relative;
}
.tooltip-title::after{
    --scale: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(100%) scale(var(--scale));
    transition: 90ms transform;
    transform-origin: top center;
    content: attr(data-tooltip);
    padding: 5px;
    text-align: center;
    color: white;
    background: #222;
    border-radius: 0.3rem;
    font-size: 13px;
}

.tooltip-title:hover::after{
    --scale: 1;
}

/* end navbar */

/* start side navbar */
.bars{
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 36px;
}

.logo-overlay{
    display: none;
    font-size: 36px;
    font-family: 'seg sbold';
    color: #ececec;
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
}

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  background-color: #24252a;
  transition: width 0.5s ease 0s;
}

.overlay-active{
    width: 100%;
}

.overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}
  
.overlay a:hover,
.overlay a:focus {
    color: #d3a261;
}

.icons-overlay a{
    font-size: 34px;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

.logo-overlay:hover{
    color: #ececec;
}
/* end side navbar */

.search-section{
    margin: 6% auto;
    text-align: center;
    min-width: 300px;
}
.search-section h1{
    font-family: 'seg sbold';
    font-size: 52px;
    letter-spacing: 10.2px;
    word-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.search-section p{
    font-size: var(--headline3-size);
    font-style: oblique;
    font-family: 'seg regular';
    font-weight: lighter;
    color: rgb(211, 211, 211);
}
.srch-btn{
    margin: 30px auto;
    width: 380px;
    height: 40px;
    padding: 15px;
    background-color: #D3D3D3;
    border-radius: 20px;
    border: 1px solid transparent;
}


/* start media */
@media screen and (max-height: 450px){
    .overlay a {
        font-size: 20px;
    }
    .icons-overlay a{
        font-size: 16px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 1135px) {
    .flex-nav,
    .logo {
      display: none;
    }
    .bars,
    .logo-overlay {
      display: initial;
    }
}

/* @media only screen and (max-width: 700px) {
    .flex-nav,
    .logo {
      display: none;
    }
    .bars,
    .logo-overlay {
      display: initial;
    }
} */

/* end media */

/* my frame work */
.text-center {
    text-align: center;
}
.curser-point{
    cursor: pointer;
}
