/* start global */
:root {
    --headline1-size: 22pt;
    --headline2-size: 18pt;
    --headline3-size: 14pt;
    --parag-size: 12pt;
    --primary-color: #0B2A53;
    --secondary-color: #757575;
    --body-color: #AAA;
    --bg-color: #ececec;
    --action-color: #40c409;
    --rating-color: #ffc107;
}

@font-face {
    font-family: 'seg regular';
    src: url(../fonts/segoeui.ttf);
}

@font-face {
    font-family: 'seg bold';
    src: url(../fonts/segoeuib.ttf);
}

@font-face {
    font-family: 'seg sbold';
    src: url(../fonts/seguisb.ttf);
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'seg regular';
    color: white;
}

.container {
    max-width: 1400px;
    margin: auto
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none !important;
    color: inherit;
}
/* end global */

/* start header */
header {
    background-image: url('../imgs/Webp.net-resizeimage.jpg');
    background-size: cover;
}

.flex-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 8%;
    margin-top: -20px;
}

.flex-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end header */

/* start navbar */

.navbar:first-child{
    margin-right: 85px;
}

.logo {
    font-family: 'seg sbold';
    font-size: var(--headline1-size);
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 0;
}

.links, .icons{
    display: flex;
}

.navbar li {
    display: inline-block;
    text-transform: capitalize;
    font-size: var(--headline3-size);
    text-align: center;
    padding: 0 30px;
    position: relative;
}

.navbar .links a{
    transition: color 0.3s ease 0s;
}

.navbar .icons li{
    padding: 0 10px;
}

.navbar .icons a {
    font-size: var(--headline2-size);
    padding: 5px 7px;
    transition: color 0.2s ease 0s;
}

.navbar .links a:hover {
    color:  #d3a261
}

.navbar .icons a:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-radius: 25%;
}

#menu li{
    width: auto;
    float: none;
    display: list-item;
    position: relative;
    text-align: center !important;
    overflow: hidden;
}
#menu li a{
    display: block;
    padding: 5px 15px;
    line-height: 35px;
    text-align: center !important;
    transition: none;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #3C4858;
}

/* end navbar */


.clearfix {
    clear: both;
}